body {
    background-color: #2D2D2D;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    gap: 5%;
    padding: 30px;
}

.user-hello {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.courses-container {
    color: white;
}

.courses-carousel-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.courses-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.arrowIconStyles {
    width: 50px;
    height: 50px;
}

@media (max-width: 1180px){

    .home-container {
        height: 100%;
    }

    .user-hello {
        font-size: 40px;
        text-align: center;
    }

    .arrowIconStyles {
        display: none;
    }

    .courses-carousel-title {
        display: block;
        text-align: center;
        font-size: 30px;
        margin: 30px 0;
    }

    .courses-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}